html{
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: inherit;
}

#clock{
    color:white;
    font-size: 100px;
    font-family: cursive;
    text-align: center;
    margin:auto;
    width:900px;
    margin-top:200px;
}